{% extends "base.html" %}

{% block title %}{{ interface.page_title }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="../static/css/chat.css">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="card mb-4">
            <div class="card-header">
                <h5><i class="fas fa-comments me-2"></i>{{ interface.header_title }}</h5>
            </div>
            <div class="card-body">
                <div class="chat-container" id="chat-container">
                    <div class="message assistant-message">
                        <p>{{ interface.welcome_message }}</p>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input type="text" id="question-input" class="form-control" placeholder="{{ interface.input_placeholder }}">
                    <button class="btn btn-primary" id="send-button">
                        <i class="fas fa-paper-plane me-1"></i>Send
                    </button>
                </div>
                
                <div class="mt-3">
                    <p><strong>Example questions:</strong></p>
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                {% for question in interface.example_questions[:2] %}
                                <li><a href="#" class="example-question">{{ question }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                {% for question in interface.example_questions[2:] %}
                                <li><a href="#" class="example-question">{{ question }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header">
                <h5><i class="fas fa-info-circle me-2"></i>{{ interface.about.title }}</h5>
            </div>
            <div class="card-body">
                <p>{{ interface.about.description }}</p>
                {% if interface.about.features %}
                <ul>
                    {% for feature in interface.about.features %}
                    <li><strong>{{ feature.title }}:</strong> {{ feature.description }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if interface.about.footer %}
                <p>{{ interface.about.footer }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="../static/js/chat.js"></script>
{% endblock %}